<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UoLCS Feedback</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap"
		rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="d-grid gap-5">
	<!-- HEADER -->
	<div class="container">
		<nav class="navbar navbar-light static-top">
			<div class="container">
				<a href="#" class="navbar-brand">
					<img src="{{ url_for('static', filename='assets/navbar-logo.png') }}" height="50" alt="UoLCS Feeback">
				</a>
				<a href="#" class="nav-item nav-link">Modules</a>
				<a href="#" class="nav-item nav-link">Degree Planner</a>
				<a href="#" class="nav-item nav-link">Grade Calculator</a>
				<a href="#" class="nav-item nav-link">Resources</a>
				<a class="btn btn-outline-primary" href="#signup" style="font-weight: 500">Sign Up/Login</a>
			</div>
		</nav>
	</div>

	<!-- HERO -->
	<div class="container col-xxl-8 px-4 py-2">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-1">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="{{ url_for('static', filename='assets/man-rating-course.svg') }}" class="d-block mx-lg-auto img-fluid" alt="Welcome the app"
					loading="lazy" width="700" height="500">
			</div>
			<div class="col m-5">
				<h1>WELCOME TO THE UoLCS STUDENT APP</h1>
				<h2 style="font-size: 50px;">WE WANT YOUR</h2>
				<h2><strong style="color: #2948a4; font-size: 70px; line-height: 0.6;">FEEDBACK!</strong></h2>
				<p style="font-size: 20px;">Students of the UoL-CS program can find, view, and review modules to help
					plan ahead.</p>
				<a class="btn btn-warning text-white" href="#courses">View Modules</a>
				<a class="btn btn-primary" href="#signup">Sign Up/Login</a>
			</div>
		</div>
	</div>

	<!-- FEATURES -->
	<div class="container features-icons px-4 py-1">
		<h1 class="pb-2 text-center">Features</h2>
			<div class="row g-4 py-1 row-cols-1 row-cols-lg-2">
				<div class="col d-flex align-items-start">
					<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
						<img src="{{ url_for('static', filename='assets/icon/University.png') }}" alt="" width="75px">
					</div>
					<div>
						<p>See how your fellow students rate different courses and leave your own feedback</p>
						<a href="#" class="btn btn-primary">
							Class Reviews
						</a>
					</div>
				</div>
				<div class="col d-flex align-items-start">
					<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
						<img src="{{ url_for('static', filename='assets/icon/edit.png') }}" alt="" width="75px">
					</div>
					<div>
						<p>Plan the order in which you are going to take the courses for the best degree experience</p>
						<a href="#" class="btn btn-primary">
							Degree Planner
						</a>
					</div>
				</div>
				<div class="col d-flex align-items-start">
					<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
						<img src="{{ url_for('static', filename='assets/icon/fav.png') }}" alt="" width="75px">
					</div>
					<div>
						<p>Save and access your favourite courses</p>
						<a href="#" class="btn btn-primary">
							Favourite Modules
						</a>
					</div>
				</div>
				<div class="col d-flex align-items-start">
					<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
						<img src="{{ url_for('static', filename='assets/icon/Book.png') }}" alt="" width="75px">
					</div>
					<div>
						<p>See all relevant resources needed to succeed at your courses</p>
						<a href="#" class="btn btn-primary">
							Resources
						</a>
					</div>
				</div>
			</div>
	</div>

	<!-- REVIEWS -->
	<div class="container py-4">
		<h4 class="text-center">Reviews</h4>
		<h3 class="text-center">What do our students say?</h3>
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#e6f2ff" />
					</svg>

					<div class="container">
						<div class="carousel-caption text-dark">
							<p>"UoLCS Feedback helped me get a sense of how difficult the courses were going to be for
								me and the student comments had some very useful tips to get ahead of the course
								material. Feels good to be a part of student community at an online degree!"</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#e6f2ff" />
					</svg>

					<div class="container">
						<div class="carousel-caption text-dark">
							<p>"It's a great app!"</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
						<rect width="100%" height="100%" fill="#e6f2ff" />
					</svg>

					<div class="container">
						<div class="carousel-caption text-dark">
							<p>"It changed my degree experience for the good!"</p>
						</div>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>

	<!-- FEEDBACK -->
	<div class="container give-feedback p-5 text-center bg-primary text-white rounded">
		<p class="lead">We strive for high quality reviews that address the actual experiences from current students or
			alumni.</p>
		<h1 class="p-4">Give your class feedback now.</h1>
		<button type="button" class="btn btn-light btn-lg px-4">Add Review</button>
	</div>

	<!-- FOOTER -->
	<div class="container">
		<footer class="py-3 my-4 text-center">
			<img src="{{ url_for('static', filename='assets/logo_draft-03.jpg') }}" alt="UoLCS Feedback logo" width="120px">
			<p class="text-center text-muted">uolcsfeedback@gmail.com</p>
			<ul class="nav justify-content-center border-top pb-3 mb-3">
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Official UoLCS Website</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Github/REPL</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">/r/UniversityOfLondonCS</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">UoL Slack</a></li>
				<li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Going Next Level</a></li>
			</ul>
		</footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
</body>

</html>