<form class="form" method="POST">
	{% for field in form %}
	{% if field.render_kw['hidden'] and field.render_kw['disabled'] %}
	{% elif field.type == 'CSRFTokenField' %}
	{{ field }}
	{% elif field.type == 'SubmitField' %}
	<div class="field">
		{{ field }}
	</div>
	{% else %}
	<div class="field">
		{{ field.label }}
		{{ field }}
		{% if field.errors %}
		<div class="errors">
			{% for error in field.errors %}
			<span class="error" style="color:red;">
				{{ error }}
			</span>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
</form>